<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_volunteers' %}">مددکاران</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdd" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            ثبت‌نام
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAdd">
            <a class="dropdown-item" href="{% url 'add_user' 'child' %}">ثبت‌نام نیازمند</a>
            <a class="dropdown-item" href="{% url 'add_user' 'volunteer' %}">ثبت‌نام همیار</a>
            <a class="dropdown-item" href="{% url 'add_user' 'donor' %}">ثبت‌نام مددکار</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownChilds" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            نیازمندان
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownChilds">
            <a class="dropdown-item" href="{% url 'admin_children' %}">لیست نیازمندان</a>
            <a class="dropdown-item" href="{% url 'admin_approvals' %}">تایید نیازمندان جدید</a>
            <a class="dropdown-item" href="#">نیازهای برطرف نشده</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReports" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            گزارش‌ها
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownReports">
            <a class="dropdown-item" href="{% url 'admin_activities' %}">گزارش فعالیت‌ها</a>
            <a class="dropdown-item" href="{% url 'admin_purchases' %}">گزارش پرداخت‌ها</a>
        </div>
    </li>
</ul>