<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'child_letter' %}">ارسال نامه</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'child_request' %}">ارسال درخواست</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'change_volunteer' %}">تغییر مددکار</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'child_purchases' %}">مشاهده‌ی وجوه پرداختی</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            آشنایی با بنیاد کودک
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <a class="dropdown-item" href="{% url 'static_history' %}">تاریخچه</a>
            <a class="dropdown-item" href="{% url 'static_vision' %}">اهداف و دیدگاه</a>
            <a class="dropdown-item" href="{% url 'static_chart' %}">چارت سازمانی</a>
        </div>
    </li>
</ul>