{% extends 'main/base.html' %}
{% load jalali_tags %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
                <h2>تایید نامه‌های در دست تایید</h2>
                <br/>
                {% if not letters %}
                    <div class="alert alert-primary" role="alert">نامه‌ای در دست تایید ندارید.</div>
                {% endif %}
                {% for letter in letters %}
                    <div id="letter-{{ letter.id }}">
                        <div class="row">
                            <div class="col-md-1 hidden-sm">
                            </div>
                            <div class="col-md-10 col-sm-12 bg-light">
                                <div class="card">
                                    <div class="card-header text-center">فرستنده: {{ letter.child.name }}</div>
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{ letter.title }}</h5>
                                        <p class="card-text">{{ letter.content|linebreaks }}</p>
                                        <p>تاریخ: {{ letter.date|to_jalali }}</p>
                                        <div class="text-center">
                                            <a href="javascript:submitLetter({{ letter.id }},'accept')"
                                               class="btn btn-success">تایید نامه</a>
                                            <a href="javascript:submitLetter({{ letter.id }},'decline')"
                                               class="btn btn-danger">رد نامه</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 hidden-sm">
                            </div>
                        </div>
                        <br/>
                    </div>
                {% endfor %}
            </div>
        <div class="col-md-1 d-none d-md-block">
        </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function submitLetter(id, status) {
            jQuery.get('/volunteer/letter-verification/' + status + '/' + id, function () {
                $('#letter-' + id).fadeOut('slow');
            });
        }
    </script>
{% endblock %}