{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
                <h2>چارت سازمانی</h2>
                <img class="img-fluid mb-3 mx-auto d-block"
                     src="http://www.childf.com/uploads/images/Visio-%DA%86%D8%A7%D8%B1%D8%AA%2094113-5jpg_Page1%20-%20Copy(1).jpg"/>
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}