{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
                <h2>سوالات متداول</h2>
                <div id="accordion" role="tablist" class="mb-2">
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-1">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-1" aria-expanded="false"
                                   aria-controls="collapse-1">
                                    همیاری (کفالت) در بنیادکودک به چه معنا است؟
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1" class="collapse" role="tabpanel" aria-labelledby="heading-1"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    همیار (کفیل) به فردی گفته می شود که یک یا چند دانش آموز نیازمند را با پرداخت
                                    مبلغ ِ ماهیانه به عنوان "کمک هزینه تحصیلی"، حمایت می کند. دانش آموزی که مورد حمایت
                                    قرار می گیرد نیز "مددجو"، نامیده می شود
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-2">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-2" aria-expanded="false"
                                   aria-controls="collapse-2">
                                    چرا حمایت یک دانش‌آموز را از طریق بنیاد کودک به عهده بگیرم؟
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    بنیادکودک روش های ویژه و مشخصی دارد که آن را از بقیه موسسه های مشابه، متمایز می کند:
                                    سعی موسسه بر این است که هزینه های اداری را به حداقل برساند و این امکان را برای افراد
                                    علاقمند به نحوی فراهم کند که بتوانند از طریق بنیادکودک با حمایت خود و پرداخت ماهیانه
                                    حداقل50 هزار تومان به یک کودک نیازمند کمک کنند و سهمی در تعالی و رشد آگاهی وی داشته
                                    باشند. هر همیار، به مددجو یا مددجویان مشخصی کمک می‌کند و دقیقا مبالغ اهدایی هر
                                    همیار، برای نیازهای مختلف مددجو یا مددجویان تحت حمایت خودش هزینه می شود.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-3">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-3" aria-expanded="false"
                                   aria-controls="collapse-3">
                                    زمانی که حمایت از یک کودک یا دانش‌آموز را می‌پذیرم، آیا مدارکی دریافت خواهم
                                    کرد؟ </a>
                            </h5>
                        </div>
                        <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>پس از تکمیل فرم همیاری و انتخاب مددجو و پرداخت اولین مبلغ کمک هزینه ماهیانه ، نام
                                    مددجو در وب‌سایت بنیادکودک به نام&nbsp; همیار ثبت خواهد شد و در صفحه شخصی ایشان قابل
                                    مشاهده خواهد بود. در این مرحله مختصری از شرایط زندگی مددجو و عکس وی به همراه نامه «
                                    خط‌ مشی بنیادکودک » و« راهنمای پرداخت وجه » از طریق پست یا ایمیل ، برای همیار&nbsp;
                                    ارسال خواهد شد.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-4">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-4" aria-expanded="false"
                                   aria-controls="collapse-4">
                                    آیا امکان پرداخت وجه در دوره های زمانی بیشتر از یک‌ماه نیز وجود دارد؟ </a>
                            </h5>
                        </div>
                        <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>همیاران می توانند بر حسب تمایل خود دوره های زمانی یک‌ماهه، سه‌ماهه، شش‌ماهه یا
                                    سالیانه را انتخاب فرمایند. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-5">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-5" aria-expanded="false"
                                   aria-controls="collapse-5">
                                    آیا می توانم به جز کمک‌ هزینه تحصیلی ماهیانه، هدایایی برای مددجویی که مورد حمایت من
                                    است تهیه کنم ؟
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    همیاران می توانند در مناسبت‌هایی مانند روز تولد، عید نوروز، شروع سال‌ تحصیلی و ...
                                    هدایای خود را با به نشانی دفتر مرکزی بنیادکودک یا یکی از دفاتر این موسسه ارسال
                                    فرمایند. همکاران واحد ارتباط همیار، مددجو، پس از دریافت هدیه، ضمن ارائه رسید به
                                    همیاران، آن را به دفتر بنیادکودک در شهری که مددجو در آن سکونت دارد ارسال می‌کنند تا
                                    از طریق مددکار در اختیار وی قرار گیرد. پس از دریافت هدیه توسط مددجو ، عکس و نامه
                                    سپاس او برای همیاران ارسال خواهد شد.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-6">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-6" aria-expanded="false"
                                   aria-controls="collapse-6">
                                    آیا لازم است پس از واریز وجه به حساب بنیادکودک ، امور مالی مؤسسه را مطلع سازم؟ </a>
                            </h5>
                        </div>
                        <div id="collapse-6" class="collapse" role="tabpanel" aria-labelledby="heading-6"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    از آنجایی‌ که کلیه حساب‌های بانکی و دفاتر مالی بنیادکودک، همه ساله حسابرسی می شود،
                                    نیاز است تا برای کلیه مبالغی که به حساب مؤسسه واریز می شود مدارک مستند موجود باشد.
                                    از این‌رو چنانچه روش « واریز به‌ حساب» انتخاب شده است، لازم است پس از هربار پرداخت
                                    فیش واریزی از طریق فکس یا ایمیل برای موسسه ارسال شود. چنانچه روش پرداخت « کارت به
                                    کارت » انتخاب شده باشد، لازم است همیار حتماً شماره کارت خود را در سیستم ثبت نموده و
                                    یا آن را به همکاران واحد مالی بنیادکودک اعلام فرماید. در روش « پرداخت آنلاین » ،
                                    نیازی به اعلام پرداخت نیست و صورت حساب‌ها به صورت خودکار ساخته خواهد شد.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading-7">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-7" aria-expanded="false"
                                   aria-controls="collapse-7">
                                    اگر مبلغی از حسابم کم شود اما صورت حساب آن در صفحه‌ شخصی‌ام مشاهده نشود، چه اقدامی
                                    باید انجام دهم؟ </a>
                            </h5>
                        </div>
                        <div id="collapse-7" class="collapse" role="tabpanel" aria-labelledby="heading-7"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>اگر مبلغ کسر شده طی ۲۴ ساعت به حساب همیار برگشت داده نشد، نیاز است با امور مالی موسسه
                                    برای رفع مشکل تماس گرفته شود .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}