{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
                <h2>حمایت از یک کودک</h2>
                <img class="img-fluid mx-auto d-block mb-3"
                     src="http://www.childf.com/uploads/images/News/baner/bn2.jpg"/>
                <p> خط مشی موسسه خیریه رفاه کودک، بر اهمیت به تحصیل و آموزش استوار بوده است. این موسسه تلاش می‌کند تا با
                    در حال حاضر بیش از 8300 دانش‌آموز و دانشجو تحت حمایت بنیادکودک قرار گرفته‌اند که در مقاطع مختلف
                    مشغول به تحصیل هستند. در طی این سال‌ها بسیاری از آنان نیز از دانشگاه‌ها و موسسات آموزش عالی کشور،
                    فارغ التحصیل شده‌اند. برای حمایت از یک دانش آموز با استعداد نیازمند کافی‌ست پس از تکمیل فرم همیاری
                    از طریق وب سایت، به قسمت «جستجوی مددجو» در صفحه اصلی سایت مراجعه و شرایط موردنظر خود را جستجو
                    نمایید. چنانچه در وب‌سایت دانش آموزی با شرایط موردنظر شما نبود، می‌توانید با دفترمرکزی با شماره‌
                    42510-021، واحد امور همیاران تماس بگیرید. همکاران این واحد، توضیحات بیشتری را ارائه خواهند داد.
                    پس از تکمیل فرم‌ همیاری، انتخاب دانش آموز و واریز اولین مبلغ پرداختی (که حداقل ماهانه پنجاه هزار
                    تومان است)، نام او به عنوان دانش آموز موردحمایت شما در نرم افزار بنیادکودک ثبت خواهد شد. در این
                    مرحله شما با مراجعه به صفحه شخصی خود در وب‌سایت می‌توانید به عکس و خلاصه‌ای از وضعیت زندگی او دسترسی
                    داشته باشید. لازم به‌ذکر است چنانچه شما تمایل دارید با مبلغ ماهیانه پنجاه هزارتومان در ماه دانش
                    آموزی را حمایت کنید، در کنار شما همیاران دیگری نیز آن دانش آموز را حمایت خواهند کرد. اما اگر تمایل
                    دارید منحصراً حمایت از یک دانش آموز را برعهده بگیرید، لازم است تا نیاز ماهیانه او را به صورت کامل،
                    پرداخت فرمایید. به منظور آگاهی‌بخشی و اطلاع رسانی پیرامون پیشرفت تحصیلی دانش آموزان و نیز وضعیت
                    عمومی زندگی آنان، دو بار در سال گزارشی از وضعیت تحصیلی، نیاز‌ها، شرایط و موقعیت خانواده ی آنها تهیه
                    و برای تمامی همیارانشان در سراسر جهان ارسال می‌شود. به این ترتیب، عزیزانی که حمایت از دانش آموز یا
                    دانش آموزانی را پذیرفته باشند، در جریان روندِ تحصیلی و شرایط زندگی دانش آموز تحت حمایت خود قرار
                    می‌گیرند. علاوه بر آن امکان ملاقات و تماس تلفنی همیار با دانش آموز در هر زمان، با هماهنگی قبلی و با
                    نظارت بنیادکودک، میسر خواهد بود.
                </p>
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}