{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
                <h2>اهداف و دیدگاه‌ها</h2>
                <img class="img-fluid mb-3 mx-auto d-block" src="http://www.childf.com/uploads/images/Flash/IMG_3461.JPG"/>
                <p> خط مشی موسسه خیریه رفاه کودک، بر اهمیت به تحصیل و آموزش استوار بوده است. این موسسه تلاش می‌کند تا با
                    حفظ شان انسانی دانش آموزان، از «نیازمند پروری»، پرهیز کند و آن‌ها را در ساختن آینده‌ای با چشم
                    اندازهای روشن یاری کند. بنیاد کودک ایران، یک سازمان غیر انتفاعی و غیردولتی است و این ویژگی بخش جدایی
                    ناپذیر خط مشی موسسه خیریه رفاه کودک بوده و خواهد بود و در هیچ شرایطی از هرگونه اقدامی که با این
                    ویژگی مطابقت نداشته باشد، استقبال نخواهد کرد. البته همیاران بنیاد کودک ایران، می‌توانند از هر قشر،
                    هر ملیت و با هر مرام سیاسی و مذهبی باشند. اما موسسه هیچگونه اقدام و یا جهت گیری، علیه گروه خاصی را،
                    نخواهد پذیرفت. هر گونه همیاری مادی یا معنوی نیز با احترام به نیت خیر فرد یا سازمان ارائه دهنده، که
                    با هدفی غیر از کمک به دانش آموزان نیازمند باشد، پذیرفته نخواهد شد.</p>

                <h5>چگونگی حمایت از افراد</h5>
                <p>
                    روش حمایت از افراد در بنیاد کودک ایران به این ترتیب است که کودکان و دانش آموزان مستعد تحصیل از طریق
                    دفا‌تر بنیاد کودک ایران، سازمانهایی مانند بهزیستی، آموزش و پرورش توسط مددکاران شناسایی شده، پس از آن
                    بررسی‌های لازم در زمینه دارا بودن شرایط و استانداردهای موسسه و جمع آوری مدارک و مستندات، بنام آن‌ها
                    در سیستم بنیاد کودک ایران پرونده‌ای تشکیل می‌گردد. پرونده مددجویان بر روی وب سایت بنیاد کودک ایران
                    قرار گرفته و یا برای دفا‌تر خارج از کشور بنیاد کودک ایران ارسال می‌شود تا به میزان نیازی که مددکار
                    با توجه به شرایط زندگی و مقطع تحصیلی آنان برآورد نموده است، برایشان اسپانسر جذب شود. پس از آن به
                    میزان این کمک، مبلغی به عنوان «کمک هزینه تحصیلی»، ماهیانه به حساب قیم قانونی مددجو و یا خود وی واریز
                    می‌شود. در حال حاضر بیش از شش هزار دانش آموز و دانشجو از این طریق تحت حمایت بنیاد قرار گرفته‌اند که
                    در مقاطع مختلف مشغول به تحصیل بوده و بسیاری از آنان نیز از دانشگاه‌ها و موسسات آموزش عالی کشور، فارغ
                    التحصیل شده‌اند. علاوه بر این بنیاد کودک ایران، بر حسب توان و امکانات خود، در پروژه‌های انسان
                    دوستانه نیز مشارکت داشته و خواهد داشت. احداث مرکز اقامتی برای کودکان سرطانی در ارومیه و اداره آن،
                    نمونه‌ای از این فعالیت هاست.
                </p>
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}