{% extends 'main/base.html' %}
{% load bootstrap_pagination %}
{% load jalali_tags %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
            <h2>گزارش پرداخت‌ها</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">تاریخ</th>
                        <th scope="col">نیازمند</th>
                        <th scope="col">نیاز</th>
                        <th scope="col">مبلغ</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.time|to_jalali }}</td>
                            {% if purchase.need %}
                                <td><a href="{{ purchase.child_link }}">{{ purchase.need.child.name }}</a></td>
                                <td>{{ purchase.need.title }}</td>
                            {% else %}
                                <td>-</td>
                                <td>-</td>
                            {% endif %}
                            <td>{{ purchase.amount }}تومان </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% bootstrap_paginate purchases range=4 last_label='آخر' first_label='اول' show_prev_next="false" show_first_last="true" %}
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}