{% extends 'main/base.html' %}
{% load bootstrap_pagination %}
{% load jalali_tags %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
            <h2>گزارش فعالیت‌ها</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">تاریخ</th>
                        <th scope="col">کاربر</th>
                        <th scope="col">توضیح فعالیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.date|to_jalali }}</td>
                            <td><a href="{{ activity.user_link }}">{{ activity.user.name }} ({{ activity.user.persian_user_type }})</a></td>
                            <td>{{ activity.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% bootstrap_paginate activities range=4 last_label='آخر' first_label='اول' show_prev_next="false" show_first_last="true" %}
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}