{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 d-none d-md-block">
            </div>
            <div class="col-md-10 col-sm-12 bg-light main-content">
            <h2>گزارش فعالیت‌ها</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">تاریخ</th>
                        <th scope="col">کاربر</th>
                        <th scope="col">توضیح فعالیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td><a href="{{ activity.user_link }}">{{ activity.user.name }} ({{ activity.user.persian_user_type }})</a></td>
                            <td>{{ activity.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav class="navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">بعدی</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">۳</a></li>
                        <li class="page-item"><a class="page-link" href="#">۲</a></li>
                        <li class="page-item"><a class="page-link" href="#">۱</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">قبلی</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-1 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}