{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>بنیاد کودک</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}"/>


</head>
<body>
{% with user_type=request.user.user_type %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">بنیاد کودک</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user_type == 'admin' %}
                {% include 'main/navbars/admin.html' %}
            {% elif user_type == 'child' %}
                {% include 'main/navbars/child.html' %}
            {% elif user_type == 'donor' %}
                {% include 'main/navbars/donor.html' %}
            {% elif user_type == 'volunteer' %}
                {% include 'main/navbars/volunteer.html' %}
            {% else %}
                {% include 'main/navbars/anonymous.html' %}
            {% endif %}
            {% if user_type %}
            <span class="navbar-brand float-left">
            محمد امین مقدم
            </span>
                <a href="{% url 'profile' user_id=request.user.id %}" class="btn btn-outline-light mr-2">پروفایل</a>
            <button type="button" class="btn btn-outline-light mr-2">خروج</button>
            {% else %}
                <a href="{% url 'add_user' 'donor' %}" class="btn btn-outline-light mr-auto">ثبت‌نام</a>
                <a href="{% url 'login' %}" class="btn btn-outline-light" style="margin-right: 10px;">ورود</a>
            {% endif %}

        </div>

</nav>

{% block content %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block scripts %}
{% endblock %}
{% endwith %}
</body>
</html>