{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm">
            </div>
            <div class="col-md-10 col-sm-12 bg-light">
                <div class="alert alert-success text-center d-none" role="alert" id="change-volunteer-alert">درخواست شما با موفقیت ارسال شد.</div>
                <div class="card text-center">
                    <div class="card-header">درخواست برای تغییر مددکار</div>
                    <div class="card-body">
                        {% if volunteer %}
                            <h4 class="card-title">مددکار شما «{{ volunteer.name }}» است. آیا علاقه‌مند هستید مددکار خود
                                را تغییر دهید؟</h4>
                        <p class="card-text">درخواست شما برای مدیر سامانه ارسال می‌شود و ایشان در صورت صلاحدید، مددکار شما را تغییر خواهند داد.</p>
                        <a href="#" class="btn btn-primary" id="change-volunteer-button">ارسال درخواست تغییر مددکار</a>
                        {% else %}
                            شما مددکاری ندارید.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-1 hidden-sm">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        };
        $('#change-volunteer-button').on('click', function (event) {
            jQuery.post("{% url 'change_volunteer' %}", data, function () {
                $('#change-volunteer-alert').removeClass('d-none').hide().fadeIn('slow');
            });
        });
    </script>
{% endblock %}