<div class="container-fluid content">
    <div class="row">
        <div class="col-md-1 hidden-sm">
        </div>
        <div class="col-md-10 col-sm-12 bg-light">
            <div class="row">
                <div class="d-block d-md-none col-sm-12">
                    <img class="card-img-top"
                         src="https://www.understood.org/~/media/f7ffcd3d00904b758f2e77e250d529dc.jpg"
                         alt="Card image cap">
                </div>
                <div class="col-md-8 col-sm-12">
                    <h4 class="card-title">علی احمدی</h4>
                    <h6 class="card-subtitle mb-2 text-muted">تهران</h6>
                    <p class="card-text">علی ۷ ساله از تهران</p>
                </div>
                <div class="d-none d-md-block col-md-4">
                    <img class="card-img-top"
                     src="https://www.understood.org/~/media/f7ffcd3d00904b758f2e77e250d529dc.jpg"
                     alt="Card image cap">
                </div>
                <div class="col align-self-end">
                    <a href="#" class="btn btn-primary" style="margin-top: 10px">تحت کفالت قرار دادن</a>
                </div>
            </div>
        </div>
        <div class="col-md-1 hidden-sm">
        </div>
    </div>

</div>