{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-1 hidden-sm">
            </div>
            <div class="col-md-10 col-sm-12 bg-light col-centered">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid slider-image" src="http://www.childf.com/uploads/images/00900.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid slider-image" src="http://www.childf.com/uploads/images/photo_2018-01-13_16-26-19(1).jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid slider-image" src="http://www.childf.com/uploads/images/434.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid slider-image" src="http://www.childf.com/uploads/images/website(1).jpg" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br>
                <hr>
                <div style="text-align: center;">
                    {% if show_buttons %}
                        <a href="{% url 'add_user' 'donor' %}" class="btn btn-primary" style="width: 200px;">ثبت‌نام به عنوان همیار</a>
                        <a href="{% url 'login' %}" class="btn btn-secondary" style="width: 200px;">ورود به پنل</a>
                        <br><br>
                    {% endif %}
                    <p>برای کسب اطلاعات بیشتر در رابطه با بنیاد کودک، از منوی بالای سایت، گزینه‌ی مورد نظر خود را انتخاب کنید.</p>
                </div>
            </div>
            <div class="col-md-1 hidden-sm">
            </div>
        </div>
    </div>
{% endblock %}