{% extends 'main/base.html' %}
{% block content %}
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-2 d-none d-md-block">
            </div>
            <div class="col-md-8 col-sm-12 bg-light main-content">
                <form>

                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="form-group">
                                <label for="first_name">نام</label>
                                <input type="text" class="form-control" id="first_name"
                                       {% if user %}value="{{ user.first_name }}" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="last_name">نام</label>
                                <input type="text" class="form-control" id="last_name"
                                       {% if user %}value="{{ user.last_name }}" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="email">ایمیل</label>
                                <input type="email" maxlength="200" class="form-control" id="email"
                                       {% if user %}value="{{ user.email }}" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="gender">جنسیت</label>
                                <select class="form-control" id="gender">
                                    {% for code, gender in all_genders %}
                                        {% if user and code == user.gender %}
                                            <option value="{{ code }}" selected>{{ gender }}</option>
                                        {% else %}
                                            <option value="{{ code }}">{{ gender }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            {% if user_class == 'child' %}
                                <div class="form-group">
                                    <label for="province">استان</label>
                                    <select class="form-control" id="Province">
                                        {% for code, province in all_provinces %}
                                            {% if user and code == user.province %}
                                                <option value="{{ code }}" selected>{{ province }}</option>
                                            {% else %}
                                                <option value="{{ code }}">{{ province }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div>
                                <img id="img-preview" class="rounded img-fluid float-right"
                                        {% if user and user.img_url %}
                                     src="{{ user.img_url }}"
                                        {% else %}
                                     src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
                                        {% endif %}>
                                <label class="btn btn-outline-info btn-file btn-sm m-1">
                                    آپلود <input type="file" style="display: none;" onchange="readURL(this);">
                                </label>
                            </div>
                        </div>
                    </div>
                    {% if user_class == 'child' %}
                        <div class="form-group">
                            <label for="accomplishments">موفقیت‌ها</label>
                            <textarea rows="4" class="form-control"
                                      id="accomplishments">{% if user %}{{ user.accomplishments }}{% endif %}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="needs">نیاز‌ها&nbsp;&nbsp;</label>
                            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal"
                                    data-target="#exampleModal">اضافه کردن
                            </button>
                            <div id="accordion" role="tablist" class="mt-2">
                                <div class="card d-none" id="template-card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseOne"
                                               aria-expanded="false">
                                                Collapsible Group Item #1
                                            </a>
                                            <span class="badge badge-danger d-none">فوری</span>
                                            <button type="button" onclick="make_urgent(this);"
                                                    class="btn btn-danger btn-sm m-1 float-left urgent">فوری
                                                کردن
                                            </button>
                                            <button type="button" onclick="remove_urgent(this);"
                                                    class="btn btn-outline-danger btn-sm m-1 float-left urgent-remove d-none">
                                                حذف
                                                فوری
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse" role="tabpanel"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                                {% if user and user.needs %}
                                    {% for need in user.needs %}
                                        <div class="card" id="template-card">
                                            <div class="card-header" role="tab">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse"
                                                       href="#old-need-collapse{{ forloop.counter }}"
                                                       aria-expanded="false">{{ need.title }}</a>
                                                    <span class="badge badge-danger {% if not need.urgent %}d-none{% endif %}">فوری</span>
                                                    <button type="button" onclick="make_urgent(this);"
                                                            class="btn btn-danger btn-sm m-1 float-left urgent {% if need.urgent %}d-none{% endif %}">
                                                        فوری کردن
                                                    </button>
                                                    <button type="button" onclick="remove_urgent(this);"
                                                            class="btn btn-outline-danger btn-sm m-1 float-left urgent-remove {% if not need.urgent %}d-none{% endif %}">
                                                        حذف فوری
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="old-need-collapse{{ forloop.counter }}" class="collapse"
                                                 role="tabpanel"
                                                 data-parent="#accordion">
                                                <div class="card-body">{{ need.description }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">اضافه کردن نیازمندی</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">عنوان</label>
                                                    <input type="text" class="form-control" id="requirement-title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">شرح
                                                        نیازمندی</label>
                                                    <textarea class="form-control" id="requirement-desc"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">بی‌خیال
                                            </button>
                                            <button id='submit-requirement' type="button" class="btn btn-primary">
                                                اضافه‌کردن
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <br/>
                    {% if user %}
                        <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">اضافه کردن کاربر</button>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-2 d-none d-md-block">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var number = 1;
        $('#exampleModal').on('show.bs.modal', function (event) {
            var modal = $(this);
            modal.find('.modal-title').text('');
            modal.find('.modal-body input').val('');
        });
        $('#submit-requirement').on('click', function (event) {
            var card = $('#template-card').clone();
            card.removeClass('d-none');
            card.find('a').attr('href', '#collapse' + number);
            card.find('#collapseOne').attr('id', 'collapse' + number);
            card.find('a').html($('#requirement-title').val());
            card.find('.card-body').html($('#requirement-desc').val());
            card.appendTo('#accordion');
            number += 1;
            $('#exampleModal').modal('hide');
        });

        function make_urgent(event) {
            $('.badge').addClass('d-none');
            $('.urgent-remove').addClass('d-none');
            $('.urgent').removeClass('d-none');
            $(event).parent().find('.badge').removeClass('d-none');
            $(event).parent().find('.urgent-remove').removeClass('d-none');
            $(event).parent().find('.urgent').addClass('d-none');
        }

        function remove_urgent(event) {
            $(event).parent().find('.badge').addClass('d-none');
            $(event).parent().find('.urgent-remove').addClass('d-none');
            $(event).parent().find('.urgent').removeClass('d-none');
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-preview')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
{% endblock %}