@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.eot') format('eot'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype');
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'BYekan', Helvetica, Arial, sans-serif;
}

.content {
    margin-top: 10px;
}

.main-content {
    padding-top: 10px;
}

.navigation {
    direction: ltr;
}

.child-card {
    height: auto;
    padding: 10px;
}

.letter .radio-item {
    margin-right: 30px;
}